ul li {
    color: red !important;
}

ol li:nth-child(2) {
    background-color: green;
}

table tr:nth-child(odd) {
    background-color: yellow;
}

body {
    color: blue;
}

ul li,
ol li {
    color: green;
}